<div class = "options">
    <a href = "/wellness"><button class="btn btn-primary btn-sm act-btn">HOME</button></a>
    <form action = "/logout" method = "post">
        <input class="btn btn-primary btn-sm act-btn" type = "submit" value = "LOG OUT" />
    </form>
    <form action = "/deleteaccount?_method=delete" method = "post">
        <input class="btn btn-primary btn-sm act-btn" type = "submit" value = "DELETE ACCOUNT" />
    </form>
    <a href = "/resources"><button class="btn btn-primary btn-sm act-btn">RESOURCES</button></a>
</div>

<style>
    .options {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 1%;
    }
    .act-btn, .btn, form {
        font-family: 'Poiret One', cursive;
        margin: 2%;
    }
    button {
        font-family: 'Poiret One', cursive;
    }
</style>