<div class = "options">
    <form action = "/logout" method = "post">
        <input class="btn btn-primary btn-sm act-btn" type = "submit" value = "LOG OUT" />
    </form>
    <form action = "/deleteaccount?_method=delete" method = "post">
        <input class="btn btn-primary btn-sm act-btn" type = "submit" value = "DELETE ACCOUNT" />
    </form>
    <button class="btn btn-primary btn-sm act-btn">WELLNESS RESOURCES</button>
</div>

<style>
    .options {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1%;
    }
    input, act-btn {
        padding: 3%;
        margin: 5%;
        font-family: 'Poiret One', cursive;
    }
    button {
        margin: 1%;
        font-family: 'Poiret One', cursive;
    }
</style>