<!-- CREATE NEW LOG NAVIGATION BAR -->
<!-- <nav class = "navbar">
    <div class = "row"> 
        <a class = "nav-text" href = "/wellness/newemotional"><button class="btn btn-primary btn-sm">LOG EMOTIONAL</button></a>
        <a class = "nav-text" href = "/wellness/newphysical"><button class="btn btn-primary btn-sm">LOG PHYSICAL</button></a>
        <a class = "nav-text" href = "/wellness/newnutritional"><button class="btn btn-primary btn-sm">LOG NUTRITIONAL</button></a>
        <a class = "nav-text" href = "/wellness/newsocial"><button class="btn btn-primary btn-sm">LOG SOCIAL</button></a>   
    </div>
</nav> -->
<!-- SEE TRENDS NAV BAR -->
<nav class = "navbar">
    <div class = "row"> 
        <a class = "nav-text" href = "/wellness/emotionaltrend"><button class="btn btn-primary btn-sm">EMOTIONAL WELLNESS</button></a>
        <a class = "nav-text" href = "/wellness/physicaltrend"><button class="btn btn-primary btn-sm">PHYSICAL WELLNESS</button></a>
        <a class = "nav-text" href = "/wellness/nutritionaltrend"><button class="btn btn-primary btn-sm">NUTRITIONAL WELLNESS</button></a>
        <a class = "nav-text" href = "/wellness/socialtrend"><button class="btn btn-primary btn-sm">SOCIAL WELLNESS</button></a>   
    </div>
</nav>

<style>
    /* NAV */
    .navbar {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        width: 96%;
        margin: 2%;
        margin-bottom: 0;
        margin-top: 0;
        height: 80%;
        margin-top: 0;
        color: #ECEFF1;
        padding: 1%;
        padding-top: 0;
    }
    .nav-text {
        font-size: 70%;
        padding: 1%;
        text-align: center;
    }
    .row {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
    }
    a {
        font-family: 'Poiret One', cursive;
        color: black;
    }
</style>