<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Wellness Account</title>

    <!-- BOOTSTRAP IMPORT -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- FONT IMPORTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antic&family=Julius+Sans+One&family=Poiret+One&display=swap" rel="stylesheet">

</head>
<body>
    <div class = "container">
        <h1>Uh oh!</h1>
        <h3>This username does not exist. Please create a new account or try again.</h3>
        <a href = "/login"><button class = "btn btn-primary btn-sm">LOG IN</button></a>
        <a href = "/createaccount"><button class = "btn btn-primary btn-sm">CREATE ACCOUNT</button></a>
    </div>
</body>
<img src = "https://static.vecteezy.com/system/resources/previews/002/030/935/large_2x/yellow-flowers-on-white-background-free-photo.jpg">
</html>
<style>
    .container {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Poiret One', cursive;
        margin: 2%;
    }
    h1, h3 {
        margin: 2%;
        text-align: center;
    }
    .btn-primary, input {
        margin: 2%;
        text-align: center;
        width: 100%;
    }
    img {
        width: 100%;
    }
</style>