<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellness Login</title>

    <!-- BOOTSTRAP IMPORT -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- FONT IMPORTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antic&family=Julius+Sans+One&family=Poiret+One&display=swap" rel="stylesheet">

</head>
<body>
    <div class = "container">
        <h1>Log In to View Your Wellness</h1>
            <form action = "" method = "post">
                <input type = "text" name = "username" id = "username" placeholder="Username" /> 
                <input type = "password" name = "password" id = "password" placeholder="Password" /> 
                <input class="btn btn-primary btn-sm" type = "submit" value = "LOG IN" />
            </form>
            <a href = "/createaccount"><button class = "btn btn-primary btn-sm">CREATE ACCOUNT</button></a>
            
    </div>
</body>
<img src = "https://static.vecteezy.com/system/resources/previews/002/030/935/large_2x/yellow-flowers-on-white-background-free-photo.jpg">
</html>
<style>
    .container {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Poiret One', cursive;
        margin: 2%;
    }
    h1 {
        margin: 2%;
        text-align: center;
    }
    form {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn-primary, input {
        margin: 2%;
        width: 100%;
        text-align: center;
    }
    img {
        width: 100%;
    }
</style>